/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  display: block;
}

/* COMMON */

body{
  font-family: 'Roboto', sans-serif;
}

.main-container{
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.col{
  float: left;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

a:hover{
  color: green;
}

.btn{
  background-color: #7BBB01;
  padding: 10px;
  border-radius: 5px;
}
/* HEADER */
header{
  background-color: #0A325A;
  height: 550px;
  color: white;
}

.logo{
  width: 11%;
  display: inline-block;
}

.center{
  width: 50%;
  padding-left: 25px;
}

.right{
  width: 39%;
  text-align: right;
}

.menu{
  list-style-type: none;
}

.menu li{
  display: inline-block;
  line-height: 51px;
  margin-left: 20px;
  font-size: 11px;
}

.empty-btn{
  border: 1px solid white;
  padding: 10px 32px;
  border-radius: 5px;
}

.page-title{
  position: absolute;
  bottom: 30%;
  left: 0%;
  width: 60%;
}

.page-title h1{
  font-size: 48px;
  margin-bottom: 25px;
}
